{% extends 'base.html' %}

{% block title %} Edit Resident {% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center fw-bold mb-4">Edit Resident</h1>
  <div class="row justify-content-center">
    <div class="form-container">
      <form method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-12">
              <div class="row">
        <div class="col-md-6">
        <div class="mb-3">
          <label for="resident_first_name" class="form-label">First Name</label>
          {{ form.resident_first_name }}
        </div>
        <div class="mb-3">
          <label for="resident_last_name" class="form-label">Last Name</label>
          {{ form.resident_last_name }}
        </div>
        <div class="mb-3">
          <label for="contact_name" class="form-label">Contact Name</label>
          {{ form.contact_name }}
        </div>
        <div class="mb-3">
          <label for="relation1" class="form-label">Relation 1</label>
          {{ form.relation1 }}
        </div>
        <div class="mb-3">
          <label for="contact_name2" class="form-label">Contact Name 2</label>
          {{ form.contact_name2 }}
        </div>
        <div class="mb-3">
          <label for="relation2" class="form-label">Relation 2</label>
          {{ form.relation2 }}
        </div>
        <div class="mb-3">
          <label for="security_deposit" class="form-label">Security Deposit</label>
          {{ form.security_deposit }}
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          {{ form.address }}
        </div>
        <div class="mb-3">
          <label for="city" class="form-label">City</label>
          {{ form.city }}
        </div>
        <div class="mb-3">
          <label for="province" class="form-label">Province</label>
          {{ form.province }}
        </div>
        <div class="mb-3">
          <label for="postal_code" class="form-label">Postal Code</label>
          {{ form.postal_code }}
        </div>
        <div class="mb-3">
          <label for="phone_number" class="form-label">Phone Number</label>
          {{ form.phone_number }}
        </div>
        <div class="mb-3">
          <label for="work_number" class="form-label">Work Number</label>
          {{ form.work_number }}
        </div>
        <div class="mb-3">
          <label for="cell_number" class="form-label">Cell Number</label>
          {{ form.cell_number }}
        </div>
        <div class="mb-3">
          <label for="fax_number" class="form-label">Fax Number</label>
          {{ form.fax_number }}
        </div>
        <div class="mb-3">
          <label for="email_address" class="form-label">Email Address</label>
          {{ form.email_address }}
        </div>
        <div class="mb-3">
          <label for="address_contact2" class="form-label">Address Contact 2</label>
          {{ form.address_contact2 }}
        </div>
        <div class="mb-3">
          <label for="city_contact2" class="form-label">City Contact 2</label>
          {{ form.city_contact2 }}
        </div>
        <div class="mb-3">
          <label for="province_contact2" class="form-label">Province Contact 2</label>
          {{ form.province_contact2 }}
        </div>
        <div class="mb-3">
          <label for="postal_code_contact2" class="form-label">Postal Code Contact 2</label>
          {{ form.postal_code_contact2 }}
        </div>
        </div>
        <div class="col-md-6">
        <div class="mb-3">
          <label for="phone_number_contact2" class="form-label">Phone Number Contact 2</label>
          {{ form.phone_number_contact2 }}
        </div>
        <div class="mb-3">
          <label for="work_number_contact2" class="form-label">Work Number Contact 2</label>
          {{ form.work_number_contact2 }}
        </div>
        <div class="mb-3">
          <label for="cell_number_contact2" class="form-label">Cell Number Contact 2</label>
          {{ form.cell_number_contact2 }}
        </div>
        <div class="mb-3">
          <label for="fax_number_contact2" class="form-label">Fax Number Contact 2</label>
          {{ form.fax_number_contact2 }}
        </div>
        <div class="mb-3">
          <label for="email_address_contact2" class="form-label">Email Address Contact 2</label>
          {{ form.email_address_contact2 }}
        </div>
        <div class="mb-3">
          <label for="notes" class="form-label">Notes</label>
          {{ form.notes }}
        </div>
        <div class="mb-3">
          <label for="room_number" class="form-label">Room Number</label>
          {{ form.room_number }}
        </div>
        <div class="mb-3">
          <label for="ohip" class="form-label">OHIP</label>
          {{ form.ohip }}
        </div>
        <div class="mb-3">
          <label for="date_of_birth" class="form-label">Date of Birth</label>
          {{ form.date_of_birth }}
        </div>
        <div class="mb-3">
          <label for="dnr" class="form-label">DNR</label>
          {{ form.dnr }}
        </div>
        <div class="mb-3">
          <label for="allergies" class="form-label">Allergies</label>
          {{ form.allergies }}
        </div>
        <div class="mb-3">
          <label for="allergies_info" class="form-label">Allergies Info</label>
          {{ form.allergies_info }}
        </div>
        <div class="mb-3">
          <label for="medical_history" class="form-label">Medical History</label>
          {{ form.medical_history }}
        </div>
        <div class="mb-3">
          <label for="weight_last" class="form-label">Weight Last</label>
          {{ form.weight_last }}
        </div>
        <div class="mb-3">
          <label for="blood_pressure_last" class="form-label">Blood Pressure Last</label>
          {{ form.blood_pressure_last }}
        </div>
        <div class="mb-3">
          <label for="admission_date" class="form-label">Admission Date</label>
          {{ form.admission_date }}
        </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</div>
      </form>
  </div>
  </div>
</div>
{% endblock %}
