{% extends 'base.html' %}

{% block title %} Resident Detail {% endblock %}

{% block content %}
<div class="container-2xl mt-5 px-5">
  <div class="card">
    <div class="card-header d-flex flex-column">
        <i class="bi bi-person " style="font-size:100px; margin:auto;"></i>
        <h1 class="text-center pb-3">{{ resident.resident_first_name }} {{ resident.resident_last_name }}</h1>
        <a href="{% url 'edit_resident' id=resident.id %}" class="btn btn-success d-flex mb-2 w-25 justify-content-center mx-auto">
            <i class="bi bi-pencil"></i> &nbsp;Edit
        </a>
        <!-- Rental Fee Button -->
    </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row container mx-auto" style="justify-content: center;">
            <div class="row pt-5">

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Resident Information:</h5>
                <p><i class="bi bi-person-fill"></i> <strong>First Name: </strong> {{ resident.resident_first_name }}</p>
                <p><i class="bi bi-person-fill"></i> <strong>Last Name:</strong> {{ resident.resident_last_name }}</p>
                <p><i class="bi bi-telephone-fill"></i> <strong>Room Number:</strong> {{ resident.room_number }}</p>
                <p><i class="bi bi-telephone-fill"></i> <strong>Health Card Number:</strong> {{ resident.ohip }}</p>
                <p><i class="bi bi-telephone-fill"></i> <strong>Date of Birth:</strong> {{ resident.date_of_birth }}</p>
                <p><i class="bi bi-envelope-fill"></i> <strong>Admission Date:</strong>{{ resident.admission_date }}</p>
                <p><i class="bi bi-envelope-fill"></i> <strong>Discharge Date:</strong>{{ resident.discharge_date }}</p>
                <p><i class="bi bi-envelope-fill"></i> <strong>Discharge Info:</strong>{{ resident.reason_for_discharge }}</p>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card ">
            <div class="card-body">
                <h5 class="card-title">Contact 1: </h5>
                <p><i class="bi bi-person-fill"></i> <strong>Name:</strong> {{ resident.contact_name }}</p>
                <p><i class="bi bi-person-fill"></i> <strong>Relationship:</strong> {{ resident.relation1 }}</p>
                <p><i class="bi bi-telephone-fill"></i> <strong>Home PH:</strong> {{ resident.phone_number }}</p>
                <p><i class="bi bi-telephone-fill"></i> <strong>Cell PH:</strong> {{ resident.cell_number }}</p>
                <p><i class="bi bi-envelope-fill"></i> <strong>Email:</strong> {{ resident.email_address }}</p>
                

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Contact 2:</h5>
                <p><i class="bi bi-person-fill"></i> <strong>Name: </strong> {{ resident.contact_name2 }}</p>
                <p><i class="bi bi-person-fill"></i> <strong>Relationship:</strong> {{ resident.relation2 }}</p>
                <p><i class="bi bi-telephone-fill"></i> <strong>Home PH:</strong> {{ resident.phone_number_contact2 }}</p>
                <p><i class="bi bi-telephone-fill"></i> <strong>Cell PH:</strong> {{ resident.cell_number_contact2 }}</p>
                <p><i class="bi bi-envelope-fill"></i> <strong>Email: &nbsp;</strong>{{ resident.email_address_contact2 }}</p>
            </div>
        </div>
    </div>
    
</div>

            
            </div>
               {% comment %} messages {% endcomment %}
        {% if messages %}
        <div id="success-message" class="alert alert-success alert-dismissible fade show text-center" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
            <div class="container-2xl d-flex ">
            <div class="card mt-4 text-center col-md-6">
        <div class="card-header  d-flex flex-column ">
          <h5 class="card-title">Petty Cash Details</h5>
          
        <button type="button" class="btn btn-info d-flex text-nowrap justify-content-center " data-toggle="modal" data-target="#pettyCashModal">
            <i class="bi bi-cash"></i>&nbsp; Add Petty Cash
        </button>
        </div>
        <div class="card-body">
            <div class="table-responsive" style="max-height: 200px; overflow-y: auto;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Payments</th>
                            <th>Price</th>
                            <th>Balance</th>
                            <th>Actions</th> <!-- Add a column for actions -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for petty_cash in resident.pettycash_set.all %}
                        <tr>
                            <td>{{ petty_cash.date }}</td>

                            <td>
                                {% if petty_cash.deposit %}
                                Payments
                                {% else %}
                                {{ petty_cash.petty_cash_type.type }}
                                {% endif %}
                            </td>
                            <td>
                                {% if petty_cash.deposit %}
                                    {{ petty_cash.deposit }} $
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if petty_cash.withdrawl %}
                                   $ {{ petty_cash.withdrawl }} 
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if petty_cash.balance %}
                                {{ petty_cash.balance }} 
                                {% endif %}

                            </td>
                            <td>
                                <!-- Button to open edit modal -->
                                <div class="d-flex ">
                                    {% if forloop.last %}
                                <button type="button" class="btn mr-2" data-toggle="modal" data-target="#editPettyCashModal{{ petty_cash.id }}">
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <form method="post" >
                                    {% csrf_token %}
                                    <input type="hidden" name="petty_cash_id_delete" value="{{ petty_cash.id }}">
                                    <button type="submit" class="btn"><i class="bi bi-trash"></i></button>
                                </form>
                                {% endif %}
                                </div>
                
                                <!-- Edit Petty Cash Modal -->
                        <div class="modal fade" id="editPettyCashModal{{ petty_cash.id }}" tabindex="-1" role="dialog" aria-labelledby="editPettyCashModalLabel{{ petty_cash.id }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editPettyCashModalLabel{{ petty_cash.id }}">Edit Petty Cash</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="id_type">Type:</label>
                                                <select name="type" readonly aria-invalid="true" id="id_typer">
                                                    <option class="form-control"  selected value="{{petty_cash.type}}">{{petty_cash.type}}</option>    
                                                  
                                                  </select>
                                                 
                                            </div>
                                            <div class="form-group">
                                                {% if petty_cash.type == 'Deposit' %}
                                                    <label for="id_deposit{{ petty_cash.id }}">Deposit:</label>
                                                    <input type="number" class="form-control" id="deposit{{ petty_cash.id }}" name="deposit" value="{{ petty_cash.deposit }}">
                                                {% else %}
                                                    <label for="id_withdrawal{{ petty_cash.id }}">Withdrawl:</label>
                                                    <input type="number" class="form-control" id="withdrawal{{ petty_cash.id }}" name="withdrawl" value="{{ petty_cash.withdrawl }}">
                                                {% endif %}
                                            </div>
                                            <div class="form-group" type="{% if petty_cash.type != 'Withdrawl' %}hidden{% endif %}">
                                                
                                                <label for="petty_cash_type{{ petty_cash.id }}">Petty Cash Type:</label>
                                                <select class="form-control" id="petty_cash_type{{ petty_cash.id }}" name="petty_cash_type">
                                                    {% for petty_cash_type in petty_cash_types %}
                                                        <option value="{{ petty_cash_type.id }}" {% if petty_cash_type.id == petty_cash.petty_cash_type.id %} selected {% endif %}>{{ petty_cash_type.type }}</option>
                                                    {% endfor %}
                                                </select>
                                                
                                            </div>
                                            <div class="form-group">
                                                <label for="date{{ petty_cash.id }}">Date:</label>
                                                <input type="date" class="form-control" id="date{{ petty_cash.id }}" name="date" value="{{ petty_cash.date|date:'Y-m-d' }}">
                                            </div>
                                            <!-- Include hidden field for petty_cash_id -->
                                            <input type="hidden" name="petty_cash_id" value="{{ petty_cash.id }}">
                                            <button type="submit" class="btn btn-primary">Save Changes</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
          </div>
          
        </div>
            <div class="card mt-4 text-center col-md-6">
        <div class="card-header align-content-center d-flex flex-column ">
          <h5 class="card-title">Rental Fees</h5>
          
        <button type="button" class="btn btn-info d-flex text-nowrap justify-content-center" data-toggle="modal" data-target="#rentalFeeModal">
            <i class="bi bi-currency-dollar"></i>Add Rental Fee
        </button>

        </div>

     
        <div class="card-body">
            <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                <table class="table table-bordered " >
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Month</th>
                          
                            <th>Amount Due</th>
                            <th>Payment Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fee in resident.rentalfee_set.all %}
                        <tr>
                            <td>{{ fee.date }}</td>
                            <td>{{ fee.month }}</td>
                            
                            <td>{{ fee.amount }} $</td>
                            <td>{% if fee.paid %}
                                Paid
                            {% else %}
                                Unpaid</td>
                            {% endif %}
                       
                            <td>
                                
                                <!-- Button to open edit modal -->
                                <div class="d-flex ">
                                <button type="button" class="btn mr-3" data-toggle="modal" data-target="#editRentalFeeModal{{ fee.id }}">
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <form method="post" >
                                    {% csrf_token %}
                                    <input type="hidden" name="rental_fee_id" value="{{ fee.id }}">
                                    <button type="submit" class="btn " name="delete_rental_fee_id" value="{{ fee.id }}"><i class="bi bi-trash"></i></button>
                                </form>
                            </div>
                
                                <!-- Edit Rental Fee Modal -->
                                <div class="modal fade" id="editRentalFeeModal{{ fee.id }}" tabindex="-1" role="dialog" aria-labelledby="editRentalFeeModalLabel{{ fee.id }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editRentalFeeModalLabel{{ fee.id }}">Edit Rental Fee</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Rental Fee edit form -->
                                                <form method="post" >
                                                    {% csrf_token %}
                                                    <input type="hidden" name="rental_fee_id" value="{{ fee.id }}">
                                                    <div class="form-group">
                                                        <label for="id_amount{{ fee.id }}">Amount:</label>
                                                        <input type="number" class="form-control" id="id_amount{{ fee.id }}" name="amount" value="{{ fee.amount }}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="id_month{{ fee.id }}">Month:</label>
                                                        <!-- <input type="text" class="form-control" id="id_month{{ fee.id }}" name="month" value="{{ fee.month }}"> -->
                                                        <select name="month" id="id_month{{ fee.id }}" class="form-control">
                                                            <option value="Jan" selected="">January</option>
                                                          
                                                            <option value="Feb">February</option>
                                                          
                                                            <option value="Mar">March</option>
                                                          
                                                            <option value="Apr">April</option>
                                                          
                                                            <option value="May">May</option>
                                                          
                                                            <option value="Jun">June</option>
                                                          
                                                            <option value="Jul">July</option>
                                                          
                                                            <option value="Aug">August</option>
                                                          
                                                            <option value="Sep">September</option>
                                                          
                                                            <option value="Oct">October</option>
                                                          
                                                            <option value="Nov">November</option>
                                                          
                                                            <option value="Dec">December</option>
                                                          
                                                          </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="id_paid">Paid:</label>
                                                        <input type="checkbox" name="paid" id="id_paid" checked="{{fee.paid}}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="id_date{{ fee.id }}">Date:</label>
                                                        <!-- <input type="date" class="form-control" id="id_date{{ fee.id }}" name="date" value="{{ fee.date }}"> -->
                                                        <input type="date" class="form-control" id="date{{ fee.id }}" name="date" value="{{ fee.date|date:'Y-m-d' }}">

                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                                </form>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
          </div>
          
          
        </div>
    </div>

    <div class="px-3 pt-5 mx-auto d-flex justify-content-between pb-5 " style="gap:20px;">
        <form class="w-100 d-flex flex-column" style="gap:20px;" id="reportFormPetty" method="get" action="{% url 'view_report' id=resident.id %}">
            <h4 class="text-center ">Petty Cash Report</h4>
            <div class="form-group">
                <label >Start Date:</label>
                <input type="date" class="form-control" name="startdate">
            </div>
            <div class="form-group">
                <label>End Date:</label>
                <input type="date" class="form-control" name="enddate">
            </div>
            <button id="downloadButton" type="submit" class="btn btn-primary" onclick="updateFormAndSubmitPetty('petty')"><i class="bi bi-cloud-download"></i>&nbsp;Download Petty Cash Report PDF</button>
            <button id="sendEmailButton" type="submit" class="btn btn-info" onclick="updateFormAndSubmitPetty('sendemail_Petty')"><i class="bi bi-envelope"></i>&nbsp;Send as an Email</button>
        </form>
        <form class="w-100 d-flex flex-column" style="gap:20px;" id="reportFormYearly" method="get" action="{% url 'view_report' id=resident.id %}">
            <h4 class="text-center ">Yearly Report</h4>
            <div class="form-group">
                <label for="startdate">Start Date:</label>
                <input type="date" class="form-control" id="startdate" name="startdate">
            </div>
            <div class="form-group">
                <label for="enddate">End Date:</label>
                <input type="date" class="form-control" id="enddate" name="enddate">
            </div>
            <button id="downloadButton" type="submit" class="btn btn-primary" onclick="updateFormAndSubmitYearly('year')"><i class="bi bi-cloud-download"></i>&nbsp;Download Yearly Report PDF</button>
            <button id="sendEmailButton" type="submit" class="btn btn-info" onclick="updateFormAndSubmitYearly('sendemail_yearly')"><i class="bi bi-envelope"></i>&nbsp;Send as an Email</button>
        </form>
        <form class="w-100 d-flex flex-column" style="gap:20px;" id="reportFormRental" method="get" action="{% url 'view_report' id=resident.id %}">
            <h4 class="text-center ">Rental Fees Report</h4>
            <div class="form-group">
            <label>Start Date:</label>
            <input type="date" class="form-control" name="startdate">
        </div>
            <div class="form-group">
                <label>End Date:</label>
                <input type="date" class="form-control" name="enddate">
            </div>
            <button id="downloadButton" type="submit" class="btn btn-primary" onclick="updateFormAndSubmitRental('')"><i class="bi bi-cloud-download"></i>&nbsp;Download Rental Fee Report PDF</button>
            <button id="sendEmailButton" type="submit" class="btn btn-info" onclick="updateFormAndSubmitRental('sendemail_Rental')"><i class="bi bi-envelope"></i>&nbsp;Send as an Email</button>
        </form>
        
        <script>
            function updateFormAndSubmitYearly(input_name) {
                const form = document.getElementById('reportFormYearly');
                const emailInput = document.createElement('input');
                emailInput.type = 'hidden';
                emailInput.name = input_name;
                emailInput.value = 'call function';
                form.appendChild(emailInput);
                form.submit();
            }
            function updateFormAndSubmitPetty(input_name) {
                const form = document.getElementById('reportFormPetty');
                const emailInput = document.createElement('input');
                emailInput.type = 'hidden';
                emailInput.name = input_name;
                emailInput.value = 'call function petty'+ input_name;
                form.appendChild(emailInput);
                form.submit();
            }
            function updateFormAndSubmitRental(input_name) {
                const form = document.getElementById('reportFormRental');
                const emailInput = document.createElement('input');
                emailInput.type = 'hidden';
                emailInput.name = input_name;
                emailInput.value = 'call function';
                form.appendChild(emailInput);
                form.submit();
            }
        </script>
        
        
    </div>

      </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="rentalFeeModal" tabindex="-1" role="dialog" aria-labelledby="rentalFeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rentalFeeModalLabel">Create Rental Fee for {{ resident.resident_first_name }} {{ resident.resident_last_name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-container">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>


<!-- Petty Cash Modal -->
<div class="modal fade" id="pettyCashModal" tabindex="-1" role="dialog" aria-labelledby="pettyCashModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="pettyCashModalLabel">Create Petty Cash for {{ resident.resident_first_name }} {{ resident.resident_last_name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="form-container">
            <form method="post">
              {% csrf_token %}
              {{ petty_form.as_p }}
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
        </div>
    </div>
</div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const typeField = document.querySelector('#id_type');
        const depositField = document.querySelector('#id_deposit');
        const withdrawalField = document.querySelector('#id_withdrawl');
        const pettyCashType = document.querySelector('#id_petty_cash_type')

        depositField.style.display = 'none';
        withdrawalField.style.display = 'block';

        typeField.addEventListener('change', function() {
            const selectedValue = this.value;
            if (selectedValue === 'Deposit') {
                depositField.style.display = 'block';
                withdrawalField.style.display = 'none';
                pettyCashType.style.display= 'none'

            } else if (selectedValue === 'Withdrawl') {
                depositField.style.display = 'none';
                withdrawalField.style.display = 'block';
                pettyCashType.style.display= 'block'
            } else {
                depositField.style.display = 'none';
                withdrawalField.style.display = 'block';
            }
        });
    });
    </script>
<script>
    function hideSuccessMessage() {
        var successMessage = document.getElementById('success-message');
        if (successMessage) {
            setTimeout(function () {
                successMessage.style.display = 'none';
            }, 2000); 
        }
    }
    
    function scrollToSuccessMessage() {
        var successMessage = document.getElementById('success-message');
        if (successMessage) {
            successMessage.scrollIntoView({ behavior: 'smooth', block: 'start' });
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        hideSuccessMessage();
        scrollToSuccessMessage();
    });
    
</script>
{% endblock %}
